﻿@model  SitefinityWebApp.Mvc.Models.NewDynamicContentListViewModel

@using Telerik.Sitefinity.Frontend.Mvc.Helpers;
@using Telerik.Sitefinity.Frontend.DynamicContent.Mvc.Helpers;
@using Telerik.Sitefinity.Modules.Libraries;
@using SitefinityWebApp.Mvc.Models
@using Telerik.Sitefinity.DynamicModules.Model;
@using Telerik.Sitefinity.Taxonomies.Model;
@using SitefinityWebApp.Core.FlickrGalleries;

@if (Model.MediaItems != null && Model.MediaItems.Any())
{
    <div class="row @Model.CssClass">
        @foreach (var item in Model.MediaItems)
        {
            var itemUrl = !string.IsNullOrWhiteSpace(item.VideoUrl) ? item.VideoUrl : item.ImageUrl;
            <div class="col-12 mb-3 col-md-6 col-lg-3">
                <a class="fancy-box" data-fancybox="gallery" href="@itemUrl">
                    <div class="video-thumb">
                        <img src="@item.ImageUrl" alt="@item.Title" class="img-full animated-item height-171" />
                        @if (!string.IsNullOrWhiteSpace(item.VideoUrl))
                        {
                            <div class="video-thumb-play">
                                <div class="with-play-btn-center"></div>
                            </div>
                        }
                    </div>
                </a>
            </div>
        }
    </div>
}