﻿@model  SitefinityWebApp.Mvc.Models.NewDynamicContentListViewModel

@using Telerik.Sitefinity.Frontend.Mvc.Helpers;
@using Telerik.Sitefinity.Frontend.DynamicContent.Mvc.Helpers;
@using Telerik.Sitefinity.Modules.Libraries;
@using SitefinityWebApp.Mvc.Models
@using Telerik.Sitefinity.DynamicModules.Model;
@using Telerik.Sitefinity.Taxonomies.Model;
@using SitefinityWebApp.Core.FlickrGalleries;

@if (Model.MediaItems != null && Model.MediaItems.Any())
{
    <div class="row">
        @if (!string.IsNullOrWhiteSpace(Model.Title))
        {
            <div class='col-12 @(Model.MediaTags != null && Model.MediaTags.Any() ? "col-lg-4" : string.Empty)'>
                <h1 class="hero-heading text-primary not-pulled">@Model.Title</h1>
            </div>
        }
        @if (Model.MediaTags != null && Model.MediaTags.Any())
        {
            <div class='col-12 @(!string.IsNullOrWhiteSpace(Model.Title) ? "col-lg-8 pt-4" : string.Empty)'>
                <div class='text-uppercase text-grey filter-links @(!string.IsNullOrWhiteSpace(Model.Title) ? "text-lg-right" : string.Empty)'>
                    <a class="active" href="#" data-filter="*">@Html.Resource("MediaGalleryResourcesShowAll", "MediaGalleryResources")</a>
                    @foreach (var tag in Model.MediaTags)
                    {
                        string dataFilter = String.Format("data-filter=\".{0}\"", tag.Url);
                        <a href="#" @Html.Raw(dataFilter)>@tag.Title</a>
                    }
                </div>
            </div>
        }
    </div>
    <div class='gallery-wrap isotope-grid @(!string.IsNullOrWhiteSpace(Model.Title) || Model.MediaTags.Any() ? "mt-2 pt-4" : string.Empty)'>
        <div class="grid-sizer"></div>
        @for (int i = 0; i < Model.MediaItems.Count(); i++)
        {
            var item = Model.MediaItems.ToList()[i];
            if (item != null)
            {
                var itemUrl = !string.IsNullOrWhiteSpace(item.VideoUrl) ? item.VideoUrl : item.ImageUrl;
                <a class='fancy-box isotope-grid-item @item.Tags @(i==0 ? "fancy-big" : string.Empty)' data-fancybox="gallery" href="@itemUrl">
                    <div class="gallery-inner" style="background-image:url(@item.ImageUrl);">
                        @if (!string.IsNullOrWhiteSpace(item.VideoUrl))
                        {
                            <div class="video-thumb-play">
                                <div class="with-play-btn-center"></div>
                            </div>
                        }
                    </div>
                </a>
            }
        }
    </div>
}