﻿@model  SitefinityWebApp.Mvc.Models.NewDynamicContentListViewModel

@using Telerik.Sitefinity.Frontend.Mvc.Helpers;
@using Telerik.Sitefinity.Frontend.DynamicContent.Mvc.Helpers;
@using Telerik.Sitefinity.Modules.Libraries;
@using SitefinityWebApp.Mvc.Models
@using Telerik.Sitefinity.DynamicModules.Model;
@using Telerik.Sitefinity.Taxonomies.Model;
@using SitefinityWebApp.Core.FlickrGalleries;

@if (Model.MediaItems != null && Model.MediaItems.Any())
{
    <div class="@Model.CssClass">
        @if (!string.IsNullOrWhiteSpace(Model.Title))
        {
            <div class="text-uppercase text-center">
                <h2 class="text-primary text-bold">@Model.Title</h2>
            </div>
        }
        <div class="row">
            @foreach (var item in Model.MediaItems)
            {
                var itemUrl = !string.IsNullOrWhiteSpace(item.VideoUrl) ? item.VideoUrl : item.ImageUrl;
                <a class="fancy-box col-6 col-md-6  mb-2" data-fancybox="gallery" href="@itemUrl">
                    <img src="@item.ImageUrl" alt="@item.Title" class="img-full height-400" />
                    @if (!string.IsNullOrWhiteSpace(item.VideoUrl))
                    {
                        <div class="video-thumb-play">
                            <div class="with-play-btn-center"></div>
                        </div>
                    }
                </a>
            }
        </div>
    </div>
}